<div class="header">
    <div class="header__container-logo">
        <picture>
            <source media="(min-width: 768px)" srcset="../../../assets/img/tiendaVirtualLogoLargo.png">
            <img class="header__logo" src="../../../assets/img/tiendaVirtualLogo.png" alt="logo">
        </picture>        
    </div>
    <!-- register and login -->
    <div class="header__container-login" *ngIf="!identity || identity.name == undefined">
        <div>
            <a class="header__login" routerLink="/login">Iniciar Sesión</a>
        </div>
        <div>
            <a class="header__register" routerLink="/register">Registrarse</a>
        </div>
    </div>
    <!--logged in user -->
    <div class="header__container-user" *ngIf="identity && identity.name">
        <div class="dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img *ngIf="identity && identity.image" class="header__avatar" src="{{url+'user/avatar/'+identity.image}}" alt="avatar">
                
                    <i *ngIf="!identity.image || identity.image == '' " class="bi bi-person-hearts fs-4"></i>
                
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/userEdit">Editar perfil</a></li>
                <li><a *ngIf="identity.role === 'ROLE_USER'" class="dropdown-item" routerLink="saleDetail">Mi carrito</a></li>
                <li><a *ngIf="identity.role === 'ROLE_USER'" class="dropdown-item" routerLink="sales">Mis compras</a></li>
                <li><a *ngIf="identity.role === 'ROLE_ADMIN'" class="dropdown-item" routerLink="createProduct">Crear producto</a></li>
                <li><a *ngIf="identity.role === 'ROLE_ADMIN'" class="dropdown-item" routerLink="listCategories">Crear categoria</a></li>
                <li><button class="dropdown-item" (click)="logout()" >Cerrar cesión</button></li>
            </ul>
        </div>
        <div class="header__container-title-user">
            <h3 class="header__titleUser">Bienvenido {{identity.name}}</h3>
        </div>
    </div>
</div>