/*  -------------------- Mobile --------------- */
@media (min-width: 0) {
    .page {
    padding: 5px;
    display: grid;
    align-items: center;
    margin-bottom: 10px;
}
.page__container {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    min-width: 100%;
    min-height: 58vh;
}
}
/*  -------------------- Mobile --------------- */
@media (min-width: 768px) {
    .page {
    padding: 5px;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
}
.page__container {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    min-width: 100%;
}
}
